<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/app.css" rel="stylesheet" type="text/css">
    <title>MovieFlix</title>
</head>
<nav>
    <p class="movieflix-title">MovieFlix</p>
    <a href="" class="history-choice">Ιστορικό Κριτικών</a>
    <button type="button" class="register-nav-button">Αποσύνδεση</button>
</nav>

<body>
    <section></section>
</body>
<footer>
    <article class="footer-layout">
        <section id="footer-msg">
            <h3>Πάνω από 1000 ταινίες διαθέσιμες!!!</h3>
        </section>
        <section id="footer-copyright">
            <h3>&copy;Copyright
                <script>
                    document.write(new Date().getFullYear())
                </script>
            </h3>
        </section>
        <section id="footer-contact-details">
            <a href="tel:+302100000000000">
                <p class="phone-icon icon"> +302100000000000</p>
            </a>
            <a href="movie@flix.com">
                <p class="envelope-icon icon"> movie@flix.com</p>
            </a>
        </section>
    </article>
</footer>
<script src="https://use.fontawesome.com/4d997e20ff.js"></script>

</html>