<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/app.css" rel="stylesheet" type="text/css">
    <title>MovieFlix</title>
</head>
<nav>
    <a href="./main_page.html" class="movieflix-title">MovieFlix</a>
    <a href="" class="history-choice">Ιστορικό Κριτικών</a>
    <button type="button" class="register-nav-button" onclick="logOut()">Αποσύνδεση</button>
</nav>

<body>
    <article>
        <section class="movie-info-layout">
            <figure>
                <p class="heading">Title</p>
                <img src="../icons/avengers_endgame.jpg" alt="Title">
                <p class="release-year">Έτος Κυκλοφορίας: 2020</p>
                <p class="release-year">Πλοκή</p>
                <p class="release-year">Πρωταγωνιστές</p>
                <p>Βαθμολογία: 5 stars</p>
                <button class="delete-grade-button">Διαγραφή Βαθμολογίας μου</button>
                <p>Η Βαθμολογία μου: 5 stars</p>
                <p>Βαθμολόγηση</p>
                <form class="grading-form">
                    <label for="five">5
                        <input type="checkbox" class="checkbox" name="five" value="5" onclick="checkOneOnly()">
                    </label>
                    <label for="four">4
                        <input type="checkbox" class="checkbox" name="four" value="4" onclick="checkOneOnly()">
                    </label>
                    <label for="three">3
                        <input type="checkbox" class="checkbox" name="three" value="3" onclick="checkOneOnly()">
                    </label>
                    <label for="two">2
                        <input type="checkbox" class="checkbox" name="two" value="2" onclick="checkOneOnly()">
                    </label>
                    <label for="one">1
                        <input type="checkbox" class="checkbox" name="one" value="1" onclick="checkOneOnly()">
                    </label>
                </form>
            </figure>
            <p class="comment-title">Σχόλια</p>
            <section class="comment-layout">
                <div class="each-comment-layout">
                    <p class="commentator-layout">email σχολιαστή</p>
                    <p class="text-comment-layout">comment</p>
                    <button class="delete-comment-button">Διαγραφή</button>
                </div>
            </section>
            <p class="new-comment-title">Εισαγωγή Νέου Σχολίου</p>
            <textarea name="comment" rows="8" placeholder="Τι πιστεύετε..." maxlength="300"></textarea>
            <button class="submit-comment-button">Υποβολή</button>
        </section>
    </article>
</body>
<footer>
    <article class="footer-layout">
        <section id="footer-msg">
            <h3>Πάνω από 1000 ταινίες διαθέσιμες!!!</h3>
        </section>
        <section id="footer-copyright">
            <h3>&copy;Copyright
                <script>
                    document.write(new Date().getFullYear())
                </script>
            </h3>
        </section>
        <section id="footer-contact-details">
            <a href="tel:+302100000000000">
                <p class="phone-icon icon"> +302100000000000</p>
            </a>
            <a href="movie@flix.com">
                <p class="envelope-icon icon"> movie@flix.com</p>
            </a>
        </section>
    </article>
</footer>
<script src="https://use.fontawesome.com/4d997e20ff.js"></script>
<script src="../js/index.js"></script>

</html>