<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../css/app.css" rel="stylesheet" type="text/css">
    <title>MovieFlix</title>
</head>
<nav>
    <p class="movieflix-title">MovieFlix</p>
    <button type="button" class="register-nav-button">Εγγραφή</button>
</nav>

<body>
    <form class="register-layout">
        <p class="movieflix-title-not-user">Eγγραφή</p>
        <label for="name">Όνομα*
            <input id="name" name="name" placeholder="Π.χ Γιώργος" required/>
        </label>
        <label for="surname">Επίθετο*
            <input id="surname" name="surname" placeholder="Π.χ Παπάς" required/>
        </label>
        <label for="email">Email*
            <input id="email" name="email" placeholder="Π.χ johnsmith@domain.com" required/>
        </label>
        <button type="submit" class="register-button">Εγγραφή</button>
    </form>
</body>
<footer>
    <article class="footer-layout">
        <section id="footer-msg">
            <h3>Πάνω από 1000 ταινίες διαθέσιμες!!!</h3>
        </section>
        <section id="footer-copyright">
            <h3>&copy;Copyright
                <script>
                    document.write(new Date().getFullYear())
                </script>
            </h3>
        </section>
        <section id="footer-contact-details">
            <a href="tel:+302100000000000">
                <p class="phone-icon icon"> +302100000000000</p>
            </a>
            <a href="movie@flix.com">
                <p class="envelope-icon icon"> movie@flix.com</p>
            </a>
        </section>
    </article>
</footer>
<script src="https://use.fontawesome.com/4d997e20ff.js"></script>

</html>